@charset "ISO-8859-1";

.lista{
	margin-right:200px;
	margin-left:200px;
}

.titulo-locadora{
	padding:32px 32px 0px 32px;
	font-size:30px;
}

.locadora-descricao{
	padding:0px 30px 0px 30px;
	font-size:15px;
}

.locadora-acao{
	margin:0 auto;
	justify-content:center;
}

.rating{
	display: flex;
}

.img-locadora{
	width:200px;
}